[submodule "ClassiPy-frontend"]
	path = ClassiPy-frontend
	url = https://github.com/Bug-Busters-F/ClassiPy-frontend
[submodule "ClassiPy-backend"]
	path = ClassiPy-backend
	url = https://github.com/Bug-Busters-F/ClassiPy-backend
