[submodule "frontend"]
	path = frontend
	url = https://github.com/Bug-Busters-F/classiFy-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/Bug-Busters-F/classiFy-backend.git
